<div class="mdl-card">
  {{#if isAnnouncement}}
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <i class="material-icons">add_alert</i> {{title}}
    </h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{{content}}}
  </div>
  {{/if}}
</div>