<h1>{{site.title}}</h1>
<a href="/admin/announces">
  <button class="mdl-button mdl-js-button mdl-button--primary">
    Announces
  </button>
</a>
<a href="/admin/refcode">
  <button class="mdl-button mdl-js-button mdl-button--primary">
    Refcode
  </button>
</a>