<h1>{{site.title}}</h1>
<a href="/admin/announces">
  <button class="mdl-button mdl-js-button mdl-button--primary">
    Announces
  </button>
</a> {{!--
<a href="/config">
  <button class="mdl-button mdl-js-button mdl-button--primary">
    Config
  </button>
</a> --}}