{{> html-head}}
<div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
  <h1>{{site.title}}</h1>
  <a href="/dashboard">
        <button class="mdl-button mdl-js-button mdl-button--primary">
          Dashboard
        </button>
        </a> {{!-- TODO: change url to /announces--}}
  <a href="/updates">
        <button class="mdl-button mdl-js-button mdl-button--primary">
          Announces
        </button>
      </a> {{!--
  <a href="/support">
          <button class="mdl-button mdl-js-button mdl-button--primary">
            Support
          </button>
        </a>
  <a href="/invoices">
          <button class="mdl-button mdl-js-button mdl-button--primary">
            Invoices
          </button>
        </a> --}}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">