</main>
<script src="/js/material.min.js"></script>
<script>
  document.querySelectorAll('textarea').forEach(function (value) {
    value.addEventListener('keydown', autosize);

  });
  document.querySelectorAll('textarea[disabled=""]').forEach(function (value) {
    autosize.call(value);
  });

  function autosize() {
    var el = this;
    setTimeout(function () {
      el.style.cssText = 'height:auto; padding:0';
      // for box-sizing other than "content-box" use:
      // el.style.cssText = '-moz-box-sizing:content-box';
      el.style.cssText = 'height:' + el.scrollHeight + 'px';
    }, 0);
  }
</script>
</body>

</html>