<div class="mdl-cell mdl-cell--4-col">
  <div class="mdl-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">
        <i class="material-icons">account_circle</i> {{user.email}}
      </h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        <a href="/reset_password" class="mdl-button mdl-js-button mdl-js-ripple-effect">
          Reset Password
        </a>
        <a href="/logout" class="mdl-button mdl-js-button mdl-js-ripple-effect">
          Logout
        </a>
      </p>
      {{user.note}}
    </div>
  </div>
</div>