{{> header}}
<div class="mdl-card">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <i class="material-icons">settings</i> Config Guide
    </h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#android-panel" class="mdl-tabs__tab">Android</a>
        <a href="#targaryens-panel" class="mdl-tabs__tab is-active">Others</a>
      </div>

      <div class="mdl-tabs__panel" id="android-panel">
        <ol data-anchor-id="0udc">
          <li>下载客户端并安装</li>
          <a href="https://github.com/shadowsocks/shadowsocks-android/releases" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            GitHub
          </a>
          <li>点击下面的按钮，按照系统提示用应用 v2rayNG 打开，并按照应用提示确认添加。</li>
          <a href="{{user.vmess.androidLink}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Config
          </a>
          <li>点击新增的配置文件右侧编辑图标。</li>
          <li>（可选）在弹出的面板内，修改「security」为「chacha20-poly1305」，点击右上角对号保存。</li>
          <li>点击右上角菜单，选择「Settings」。</li>
          <li>打开「Bypass Mainland」；（可选）打开「Enable Mux」。</li>
          <li>返回首页；然后点击下方纸飞机，待提示「Start Server Success」后即可开始使用网络。个别系统可能会询问权限，请一律允许。</li>
        </ol>
      </div>
      <div class="mdl-tabs__panel is-active" id="targaryens-panel">
        <p data-anchor-id="hwku">本服务是 v2ray VMess 服务，请按照如下参数自行配置：</p>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">服务器地址</td>
              <td>{{server}}</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">用户 ID</td>
              <td>{{user.vmess.id}}</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Alter ID</td>
              <td>{{user.vmess.alterId}}</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">连接方式</td>
              <td>WebSocket, path="/", headers["Host"]="server.cflink.cf"</td>
            </tr>
          </tbody>
        </table>
        <p>如果你的客户端支持配置文件，也可以点击下方的按钮下载配置文件：<br>
          <a href=`/v2ray_config.json?id=${user.vmess.id}&aid=${user.vmess.alterId}` class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Config
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
{{#each cards}} {{> card}} {{/each}} {{> footer}}