<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>{{site.title}}</title>

  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images/android-desktop.png">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">

  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/material.min.css">
  <style>
    .mdl-card {
      width: 100%;
      margin-bottom: 20px;
      min-height: 0px;
    }
  </style>
</head>

<body class="mdl-layout mdl-grid mdl-color--grey-100 mdl-color-text--grey-700">
  <main class="mdl-layout__content">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col">
          <h1>{{site.title}}</h1>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
              <a href="#login-panel" class="mdl-tabs__tab is-active">Login</a>
              <a href="#reg-panel" class="mdl-tabs__tab">Reg</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="login-panel">
              <form action="/login" method="POST">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="username" name="email">
                  <label class="mdl-textfield__label" for="username">Email</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="password" id="password" name="password">
                  <label class="mdl-textfield__label" for="password">Password</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
                  Login
                </button>
              </form>
            </div>
            <div class="mdl-tabs__panel" id="reg-panel">
              <form action="/reg" method="POST">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="username" name="email">
                  <label class="mdl-textfield__label" for="username">Email</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="password" id="password" name="password">
                  <label class="mdl-textfield__label" for="password">Password</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="password" id="password2" name="password2">
                  <label class="mdl-textfield__label" for="password2">Password Again</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
                  Reg
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="/js/material.min.js"></script>
</body>

</html>