{{> html-head}}
<div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--7-col">
      <h1>{{site.title}}</h1>
      <p>Powered by
        <a href="{{site.source}}">Clover</a>, Licensed under AGPL v3+.</p>
    </div>
    <div class="mdl-cell mdl-cell--5-col">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#login-panel" class="mdl-tabs__tab is-active">Login</a>
          <a href="#reg-panel" class="mdl-tabs__tab">Reg</a>
          <a href="#rsp-panel" class="mdl-tabs__tab">Reset Password</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="login-panel">
          <form action="/login" method="POST">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="username" name="email">
              <label class="mdl-textfield__label" for="username">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="password" name="password">
              <label class="mdl-textfield__label" for="password">Password</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
              Login
            </button>
          </form>
        </div>
        <div class="mdl-tabs__panel" id="reg-panel">
          <form action="/reg" method="POST">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="username" name="email">
              <label class="mdl-textfield__label" for="username">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="password" name="password">
              <label class="mdl-textfield__label" for="password">Password</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="password2" name="password2">
              <label class="mdl-textfield__label" for="password2">Password Again</label>
            </div>
            {{#unless site.reg}}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input" type="text" rows="3" id="refcode" name="refcode"></textarea>
              <label class="mdl-textfield__label" for="refcode">Refer Code</label>
            </div>
            {{/unless}}
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
              Reg
            </button>
          </form>
        </div>
        <div class="mdl-tabs__panel" id="rsp-panel">
          <form action="/reset_password_email" method="POST">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="username" name="email">
              <label class="mdl-textfield__label" for="username">Email</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{> html-foot}}