<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>LLMCG</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="pink lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">LLMCG</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center light-blue-text">LLMCG</h1>
      <div class="row center">
        <h5 class="header col s12 light">Generates <i>Love Live! School Idol Festival</i> X-Message-Code</h5>
      </div>
      <div class="row center">
        <a href="/register" id="download-button" class="btn-large waves-effect waves-light light-blue">Register</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <form class="col s12" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="username" type="text" class="validate" name="username">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light pink" type="submit" name="action">
          Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>

  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Author</h5>
          <p class="grey-text text-lighten-4">@coderfox: student developer, Node.js/C#/PHP.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">+More</h5>
          <ul>
            <li><a class="white-text" href="http://xfox.pw">Website</a></li>
            <li><a class="white-text" href="https://github.com/coderfox">GitHub</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="mailto:llmcg@xfox.pw">llmcg#xfox.pw</a></li>
            <li><a class="white-text" href="https://keybase.io/coderfox">Keybase.io</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="light-blue-text text-lighten-3" href="http://materializecss.com">Materialize</a>, Powered by
        <a class="light-blue-text text-lighten-3" href="http://koajs.com/">Koa<sup>2</sup></a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
</body>

</html>