{{> header}}
<form method="POST">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="password" id="current" name="current">
    <label class="mdl-textfield__label" for="current">Current Password</label>
  </div><br>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="password" id="new" name="new">
    <label class="mdl-textfield__label" for="new">New Password</label>
  </div><br>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="password" id="new2" name="new2">
    <label class="mdl-textfield__label" for="new2">New Password Again</label>
  </div><br>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
    Submit
  </button>
</form>
{{> footer}}