{{> html-head}}
<div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--7-col">
      <h1>{{site.title}}</h1>
    </div>
    <div class="mdl-cell mdl-cell--5-col">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#rsp-panel" class="mdl-tabs__tab is-active">Reset Password</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="rsp-panel">
          <form action="/reset_password_email_callback" method="POST">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="username" name="email" disabled value="{{email}}">
              <label class="mdl-textfield__label" for="username">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="password" name="password">
              <label class="mdl-textfield__label" for="password">Password</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="password2" name="password2">
              <label class="mdl-textfield__label" for="password2">Password Again</label>
            </div>
            <input type="hidden" name="token" value="{{token}}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{> html-foot}}